<h1 mat-dialog-title>Add Managed Device</h1>
<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="example-container">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Entity</mat-label>
        <mat-select formControlName="entityId">
          <mat-option>--</mat-option>
          <mat-optgroup
            *ngFor="let group of entitiesGrouped$ | async"
            [label]="group.name"
          >
            <mat-option
              *ngFor="let entity of group.entities"
              [value]="entity.value"
            >
              {{ entity.text }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Device Type</mat-label>
        <mat-select formControlName="deviceType">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let entity of deviceTypes" [value]="entity.value">
            {{ entity.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Traits</mat-label>
        <mat-select formControlName="traits" multiple>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let entity of deviceTraits" [value]="entity">
            {{ entity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="localId"
          matInput
          placeholder="Local Device Id"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="deviceForm.invalid" mat-button color="primary">
      Save
    </button>
    <button type="button" mat-button (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
