<h3>
  Device Edt
</h3>

<mat-card>
  <mat-card-header>
    <mat-card-title>Managed Device</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <nx-home-assistant-json-viewer
      [json]="device$ | async"
    ></nx-home-assistant-json-viewer>
  </mat-card-content>
</mat-card>
<br />

<nx-home-assistant-managed-edit-form
  [device]="device$ | async"
  [entitiesGrouped]="entitiesGrouped$ | async"
  (save)="onSave($event)"
  (cancel)="onCancel()"
  (delete)="onDelete($event)"
></nx-home-assistant-managed-edit-form>
