<!-- <div class="row center">
    <ul>
      <li *ngFor="let item of devices$ | async">
        {{ item.entity_id }} : {{ item.attributes.friendly_name }}
      </li>
    </ul>
  </div> -->

<h2>{{ selectEntityId$ | async }}</h2>

<mat-list role="list">
  <mat-list-item
    *ngFor="let item of devices$ | async"
    role="listitem"
    [ngClass]="{ active: item.entity_id == selectedId }"
    (click)="onClickDevice(item)"
    dense
    >{{ item.entity_id }} : {{ item.title }}</mat-list-item
  >
</mat-list>
